<form class="form-horizontal" ng-controller="FilteredExposureController">
    <div class="row">
        <div class="span6">
            <h2>Initial</h2>

            <div class="control-group">
                <label class="control-label" for="initialShutter">Shutter</label>

                <div class="controls">
                    <select id="initialShutter" class="input-small"
                            ng-model="initial.shutter.value"
                            ng-disabled="false"
                            ng-options="shutter.label for shutter in shutters">
                    </select>
                    <img src="images/loader.gif" ng-show="true"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="filter">Filter</label>
                <div class="controls">
                    <div class="input-append">
                        <select id="filter" class="input-small"
                                ng-model="initial.filter.value"
                                ng-disabled="false"
                                ng-options="filter.label for filter in filters">
                        </select>
                        <button class="btn" type="button">
                            <i class="icon-plus"></i>
                        </button>
                    </div>
                    <img src="images/loader.gif" ng-show="true"/>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-danger btn-large"
                            ng-show="true"
                            ng-click="reset()">Reset
                    </button>
                </div>
            </div>
        </div>

        <div class="span6">
            <h2>Filtered</h2>
            <div>
                Shutter: <span class="label">XXX</span>
            </div>
            <div>
                ND: <span class="label">XXX</span>
            </div>
        </div>
    </div>
</form>