<!DOCTYPE html>
<html ng-app="perfect-exposure">

<head>
    <title>Perfect exposure</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>

<div class="container-fluid">
    <h1>Perfect exposure</h1>

    <ul class="nav nav-pills" ng-controller="NavController">
        <li ng-class="{active: nav.welcome.active}">
            <a href="#/" ng-click="nav.welcome.activate()">Welcome</a>
        </li>
        <li ng-class="{active: nav.equivalent.active}">
            <a href="#/equivalent" ng-click="nav.equivalent.activate()">Equivalent</a>
        </li>
        <li ng-class="{active: nav.filter.active}">
            <a href="#/filter" ng-click="nav.filter.activate()">Filter</a>
        </li>
        <li ng-class="{active: nav.dof.active}">
            <a href="#/dof" ng-click="nav.dof.activate()">DOF</a>
        </li>
    </ul>

    <div ng-view></div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="scripts/application.js"></script>
</body>
</html>