<!DOCTYPE html>
<html ng-app="exposure">

<head>
    <title>Exposure</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>

<h1>Exposure</h1>

<div class="row">
    <form class="form-horizontal">

        <div class="span6">
            <div class="control-group" ng-controller="LoadIsos">
                <label class="control-label" for="initialIso">ISO</label>

                <div class="controls">
                    <select id="initialIso" name="initialIso">
                        <option ng-repeat="iso in isos" value="{{iso.index}}">{{iso.label}}</option>
                    </select>
                </div>
            </div>

            <div class="control-group" ng-controller="LoadApertures">
                <label class="control-label" for="initialAperture">Aperture</label>

                <div class="controls">
                    <select id="initialAperture" name="initialAperture">
                        <option ng-repeat="aperture in apertures" value="{{aperture.index}}">{{aperture.label}}</option>
                    </select>
                </div>
            </div>

            <div class="control-group" ng-controller="LoadShutters">
                <label class="control-label" for="initialShutter">Shutter</label>

                <div class="controls">
                    <select id="initialShutter" name="initialShutter">
                        <option ng-repeat="shutter in shutters" value="{{shutter.index}}">{{shutter.label}}</option>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Set</button>
                </div>
            </div>
        </div>

        <div class="span6">TODO</div>
    </form>
</div>

<script src="scripts/jquery.js"></script>
<script src="scripts/angular.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="scripts/application.js"></script>

<script type="text/javascript">
    $(function() {
    console.log('Ready')
    });
</script>

</body>
</html>